
// River component styles
@import '../../styles/variables.scss';

.river {
	padding-bottom: 3rem;

	&-details, &-description {
		margin: 0 $app-padding;
	}
	&-details {
		background-color: rgba(0,0,0,0.05);
		border-radius: $border-radius;
		display: flex;
		justify-content: space-between;
		margin-bottom: 1rem;
		padding: 1rem;

		li {
			font-size: 14px;
		}

		li:not(:last-child) {
			padding-bottom: 0.3rem;
		}
	}
	&-link {
		&:visited {
			color: $link-color
		}
	}
	&-photos {
		margin-bottom: 1rem;
		overflow: auto; // allow full height
	}
}

.btn-river {
	cursor: pointer;
	border: 0;
	background: transparent;
	margin-left: $app-padding;
	padding: 0;
}
