@import './variables.scss';
.App {
	background-color: rgba(255,255,255,0.85);
	display: flex;
	flex-direction: column;
	float: left; // allow clicking through to maps
	margin: 0 4rem 0 40vw;
	overflow: auto;
	padding: 1rem 0;
	//position: relative;


	&-header {
		align-self: flex-start;
		margin: 0 $app-padding 1rem;
	}

	&-rivers {
		margin-bottom: 80vh; // allow scrolling to top
	}
}
