.App {
	display: flex;
	position: relative;

	&-header {
		// position: absolute;
		// top: 0;
		// left: 0;
		// z-index: 1;
	}

	&-rivers {
		height: 100%;
		//height: 2000px;
	}
}

// 100% window height
html, body, #root, .App {
	height: 100%;
}

#google-map {
	position: fixed !important; // allows fullscreen
}
